@import '../Variables/PalletColors.scss';
@import '../Variables/Elements.scss';

.ContainerPrincipal{
    margin-top: 4rem;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Titles{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.3rem;
        h1{
            font-size: 3rem;
            color: $primary-color;
        }
        p{
            font-size: 1.4rem;
            color: $fourth-color;
        }
    }
}



.GridCard-LINE1{
    margin-top: 3rem;
    display: flex;    
    justify-content: center;
    gap: 1rem;  
    overflow: hidden;
}

.GridCard-LINE2{
    margin-top: 1rem;
    @extend .GridCard-LINE1;
    
}

.Btn-CTA{
    margin-top: 2rem;
    @include Button-Style;
}