$primary-color: #FF417A;  // ROSA
$primary-color_HOVER: #fd90b0; //ROSA-HOVER
$primary-color_ACTIVE: #fcb3c9; //ROSA-ACTIVE
$primary-color-BACKGROUND: rgba(255, 65, 122, 0.12); //BACKGROUND 
$secondary-color: #FFFFFF; // BRANCO
$secondary-color_HOVER: #f9c3c3;
$secondary-color_ACTIVE: #f1e2e2;
$tertiary-color: #3E3E3E;    // CINZA
$tertiary-color_HOVER: #5c5c5c; //CINZA HOVER
$tertiary-color_ACTIVE: #727272; //CINZA ACTIVE
$fourth-color: black; // PRETO
$text-gray: #D2D2D2; //TEXTO CINZA