@import '../Variables/PalletColors.scss';
@import '../Variables/Elements.scss';

.ContainerCard{
    .ContainerImg{
        width: 8rem;
        height: 6rem;
        border-radius: 6px;
        background-color: white;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 11.5rem;
    height: 14.5rem;
    background-color: $primary-color-BACKGROUND;
    border: 3px solid red;
    border-radius: 6px;
    p{
        color: $fourth-color;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: center;
    }
    button{
        @include Button-Style();
        &.reserved{
            @include Button-IsReserved;
        }
    }
}